*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: Arial, sans-serif;
}

header{
    background: #000;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero span{
    color: #00bfff;
}

button{
    padding: 12px 25px;
    border: none;
    background: #00bfff;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

section{
    padding: 100px 20px;
    max-width: 1100px;
    margin: auto;
}

h2{
    margin-bottom: 30px;
    text-align: center;
}

.cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background: #222;
    padding: 30px;
    width: 250px;
    border-radius: 10px;
    transition: .3s;
    text-align: center;
}

.card a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.card:hover{
    transform: translateY(-10px);
    background: #00bfff;
}

.card a:hover{
    color:  yellow;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: auto;
}

input,textarea{
    padding: 12px;
    border: none;
    border-radius: 5px;
}

textarea{
    height: 120px;
}

footer{
    text-align: center;
    padding: 20px;
    background: #000;
}

@media(max-width:768px){

    nav{
        flex-direction: column;
    }

    nav ul{
        margin-top: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h1{
        font-size: 35px;
    }

}